/* comman */
.head{
    font-size: 35px !important;
    border-width: thick !important;
    color: #bc222e !important;
    text-transform: uppercase !important;
}

/* menu style */ 
.bg-dark {
    background-color: #19161840!important;
}
a.nav-link {
    font-size: 18px;
    font-weight: 700;
    color: #fdf6f7e0 !important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bc222e !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(188, 34, 46) !important;
}
/* teams */
.card{
	margin-bottom:10px;

}
.card:hover{
    box-shadow: 0 0 5px 5px;
}
/* service home*/

.service1 ul{
	list-style-type: none;
}
/* footer */
.footer{
	margin-top: 30px; 
}
.social_icon ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .gap {
     margin-right: 10px
 }

 .social_icon ul li:first-child {
     margin-left: 0px
 }

 .facebook {
     background: #2a66b3;
     border: 1px solid #2a66b3
 }

 .social_icon ul li a i {
     margin-right: 10px
 }

 .twitter {
     background: #35bbec;
	 border: 1px solid #35bbec
 }

 .social_icon ul li a {
     float: left;
     border-radius: 4px;
     line-height: 40px;
     color: #fff;
     height: 40px;
     width: 80px;
     text-align: center;
     margin-bottom: 40px
 }

 .google {
     background: #e55644;
     border: 1px solid #e55644
 }

 .facebook:hover {
     background: #082b58;
     border: 1px solid #082b58
 }

 .twitter:hover {
     background: #0f607e;
     border: 1px solid #0f607e
	 }

 .google:hover {
     background: #a52a1b;
     border: 1px solid #a52a1b
 }
 /* about*/
 .about{
	float:left;
}
		.a1{
			
			width:500px;
		}
		.b{
			float:right;
			margin-left:50px;
			margin-right:100px;
			display:inline-block;
		}
/* Gallery */	
.gallery_img .img-fluid{
	height:250px;
	margin-bottom:20px;
	border-radius:10%;
}	